<!--animals.vtl-->
  <nav class="navbar navbar-light">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/animal/new">Add Animal</a></li>
      <li class="active">All Animals</li>
      <li><a href="/animal/sightings">Post Sighting</a></li>
    </ol>
  </nav>

<!--animals.vtl-->
